{% extends "base.html" %}
{% block title %}This is a home page{% endblock title %}

{% block content %}
<h4 class = "text-center text-danger mt-4">{{data | length }} results founds</h4>
<br>
<div class="container mt-4">
  <div class="row">
    <!-- Sidebar with categories -->
    <div class="col-2 bg-white">
      <h3>All Categories :</h3>
      {% if categories %}
        {% for cat in categories %}
          {% if cat.slug %}
            <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="radioDefault"
              id="radioDefault{{ cat.id }}" />
            <label class="form-check-label" for="radioDefault{{ cat.id }}">
              <a href="{% url 'category_wise_post' cat.slug %}">{{ cat.name }}</a>
            </label>
          </div>
          {% endif %}
        {% endfor %}
      {% else %}
        <p>No categories available!</p>
      {% endif %}
    </div>

    <!-- Posts area -->
  
    <div class="col-10 d-flex gap-3 flex-wrap">

      {% if data %}
        {% for val in data %}
          <div class="card mb-3 col-5">
            {% if val.image %}
              <img src="{{ val.image.url }}" class="card-img-top" alt="{{ val.title }}" />
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ val.title }}</h5>
              <p class="card-text">{{ val.description }}</p>
              {% for cat in val.category.all %}
                <button class="btn btn-success btn-sm">{{ cat.name }}</button>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h3>No data available !!</h3>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
